*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
:root{
    --box-color: blue;
    --fonts : #fff;
    --background: rgb(117, 117, 175);
}
body{
    color: var(--fonts);
    height: 100vh;
}
header{
    height: 10vh;
    padding: 2rem;
    font-size: 2rem; ;
    background-color: var(--background);

}
header span{
    color: var(--box-color);
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 2rem;
    height: 10vh;
    background-color: cornflowerblue;
    text-align: center;
}
.primary-colors, .secondary-colors{
    height: 10vh;
    flex: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.primary-colors{
    background-color: blanchedalmond;
}
.liner{
    border-bottom: 10px solid black
}

article{
    width: 100vw;
    position: relative;
    overflow-x: hidden;
}
.primary-section, .secondary-section{
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    width: 100vw;
    /* flex: 1; */
}
.primary-section{
    background-color: orchid;
}
.secondary-section{
    background-color: thistle;
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    transform: translateX(100%);
}
.show-section{
    z-index: 10;
    visibility: visible;
    transform: translateX(0%);
}
.text-container{
    text-transform: capitalize;
    font-weight: bolder;
    text-align: center;
    flex-direction: column;
}
button{
    width: 200px;
    height: 80px;
    border: 2px solid rgb(255, 255, 255);
    background: transparent;
    font-size: 2rem;
    font-weight: bolder; 
    margin-top: 2rem;
    cursor: pointer;
    color: #fff;
}