*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: poppins ,Arial, Helvetica, sans-serif;
}
@font-face {
    font-family: poppins;
    src: url(./fonts/LexendDeca/LexendDeca-Bold.ttf);
}
:root{
    --fontSizes: 2rem;
    --btnFontSizes: 1.5rem;
    --btnBackgroundColor: red;
    --mainColor: #fff;
    --fontOne: poppins;
    --mainPadding: 1rem 5rem;
    --darkBackground : black;
    --greyColor: grey;
}
body{
    text-transform: capitalize;
    background-color: var(--darkBackground);
    position: relative;
}
header{
    background-image: url(./Images/popcorns.jpg);
    height: 80vh;
    width: 100%;
    background-size:cover;
    background-repeat: no-repeat;
    position: relative;
    padding: var(--mainPadding);
    
}
.btns{
    width: 150px;
    height: 70px;
    font-size: var(--btnFontSizes);
    text-transform: capitalize;
    background-color: var(--btnBackgroundColor);
    color: var(--mainColor);
    border: none;
    border-radius: 10px;
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 15vh;
    font-family: var(--fontOne);
    width: 100%;
}

.logo-container h1{
    font-size: var(--fontSizes);
    flex-wrap: wrap;
    font-weight: bolder;
    width: 180px;
    text-align: center;
    text-transform: uppercase;
    color: var(--mainColor);
}
.logo-container h1 span{
    color: red;
}
.nav-links{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: var(--fontSizes);
    list-style: none;
}
.nav-links li{
    color: var(--mainColor);
    cursor: pointer;
    margin: 0rem 1.5rem;
    position: relative;
    transition: all .2s ease-in-out;
}
.nav-links-container .nav-links li:hover::after{
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    bottom: -1rem;
    right: 50%;
    border-radius: 50%;
    background-color: #ff0000;
}
.nav-links-container .nav-links li:hover{
    color: red;
    opacity: .7;

}
.socials{
    width: 60px;
    height: 60px;
    background-color: #fff;
    border-radius: 50%;
}
.socials:hover{
    box-shadow: .5rem 0rem 2rem 0rem #ffffff;
    background-color: #ffffff4d;
}
.play-btn{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    box-shadow: 0rem 0rem 0rem 1rem #ffffff;
    background-color: #ffffff4d;
    background-color: #fff;
}
.play-btn:hover{
    box-shadow: 0rem 0rem 2rem .5rem #ffffff;
    background-color: #ffffff4d;
}
.burger{
    display: none; 
}
.header-details{
    height: 43vh;
    /* width: 100%; */
    margin-top: 25vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.right-content, .left-content{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    width: 80%;
}
.header-book{
    display: flex;
    flex-direction: row;
    align-content: center;
    font-weight: bolder;
    width: 500px;
}
.header-book p{
    color: var(--mainColor);;
    font-size: calc(var(--fontSizes) - 30%);
    margin: 0rem 2.5rem;
    width: 550px;
}
.header-book button{
    width: 400px;
}
.header-socials{
    width: 300px;
}
.header-socials img{
    margin: 0rem 0rem 0rem 1rem;
}
.left-content{
    align-items: center;
}
.watch{
    font-size: calc(var(--fontSizes) - 40%);
    margin-left: 1rem;
    margin-top: 2rem;
    color: var(--mainColor);
}
.number{
    font-size: calc(var(--fontSizes) + 50%);
    color: var(--mainColor);
    transition: .3s;
}
.number:hover{
    scale: 2;
    isolation: isolate;
    color: var(--btnBackgroundColor);
}
.watch-trailer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.scroll-numbers{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 80%;
    margin-bottom: 2rem;
}
.blur-container{
    height: .2vh;
    width: 100%;
    position: absolute;
    bottom: 0vh;
    background-color: rgba(0, 0, 0, 0.245);
    box-shadow: 0rem 0rem 7rem 3rem #000000;
}

        /* LOGIN PAGE */
        .login-and-register{
            background-color: #000000f6;
            display: none;
            justify-content: center;
            align-items: center;
            margin: 0rem;
            position: fixed;
            top: 0vh;
            left: 0;
            width: 100vw;
            height: 100vh;
            z-index: 100;
        }
        .loginCont{
            height: 80vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: #ffffff;
            font-family: Poppins;
            border-radius: 10%;
            position: relative;
        }
        .head h4{
            text-align: center;
            font-size: 1.7rem;
            margin-top: 1rem;
        }
        .login-and-register .head h2 p{
            margin-top: .7rem;
        }
        .login-and-register .head h2 p a{
            color: var(--btnBackgroundColor);
            text-decoration: none;
            cursor: pointer;
            margin-left: 1rem;
        }
        .head button{
            width: 400px;
            margin: 2rem 0rem;
            border: none;
        }
        .head button img{
            width: 30px;
            height: 30px;
            margin-right: .7rem;
        }
        form input[type = text],input[type = email],input[type = password], input[type = number]{
            background: none;
            width: 700px;
            height: 4rem;
            margin: 1rem 0rem;
            font-size: 1.5rem;
            padding-left: 1rem;
            border: none;
            border-bottom: 1px solid #000000;
        }
        form input[type = text]:focus,input[type = email]:focus,input[type = password]:focus, input[type = number]:focus{
            outline: none;
            animation: inputborder .5s linear forwards;
        }
        @keyframes inputborder {
            0%{
                width: 100px;
                border-bottom: 1.5px solid var(--btnBackgroundColor);
            }
            20%{
                width: 200px;
                border-bottom: 1.8px solid var(--btnBackgroundColor);
            }
            40%{
                width: 350px;
                border-bottom: 2.1px solid var(--btnBackgroundColor);

            }
            60%{
                width: 450px;
                border-bottom: 2.3px solid var(--btnBackgroundColor);
            }
            80%{
                width: 550px;
                border-bottom: 2.5px solid var(--btnBackgroundColor);

            }
            100%{
                width: 700px;
                border-bottom: 2.7px solid var(--btnBackgroundColor);

            }
        }
        form h3{
            margin-top: 1.5rem;
            font-size: var(--fontSizes);
        }         
        .bottom a{
            text-align: center;
            text-decoration: none;
            color: rgb(255, 0, 0);
            font-size: 1.5rem;
            display: block;
            margin: .8rem 0rem;
        }
        .page-reveal{
            display: flex;
        }
        .cancelBtn{
            background-color: aquamarine;
            position: absolute;
            top: 1.5rem;
            right: 2.5rem;
        }




        /* LOGIN PAGE ENDS */


        /* REGISTER PAGES */
        .loginCont{
            width: 34%;
            height: fit-content;
            top: 1vh;
            padding: 2rem 0rem;
        }
        .login-and-register .head h1{
            text-align: center;
            font-size: 1rem;
        }
        .login-and-register .head h2{
            text-align: center;
            font-size: .7rem;
            margin-top: 1rem;
        }
        .login-and-register .head h2 p{
            margin-top: .7rem;
        }
        .login-and-register .head h2 p a{
            color: rgb(236, 10, 10);
            text-decoration: none;
            cursor: pointer;
            margin-left: 1rem;
        }
        .head button{
            width: 400px;
            margin: 2rem 0rem;
            border: none;
        }
        .register-page{
            display: none;
        }
        /* REGISTER PAGES ENDS */


.movie-section{
    margin-top: 30vh;
    padding: var(--mainPadding);
    position: relative;
}
.section-header h2{
    text-transform: uppercase;
    color: var(--mainColor);
    font-size: var(--fontSizes);
}
.section-header{
    display: flex;
    justify-content: space-between;

}
.lines{
    height: 5px;
    width: 100%;
    /* background-color: var(--btnBackgroundColor); */
    background: linear-gradient(to right, red , rgba(255, 0, 0, 0.835) , black);
    margin-top: 2rem;
}
.menu-btns{
  margin-top: 9vh;  
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.menu-btns button{
    width: 200px;
    margin-right: 1rem;
}
.search-input{
    width: 35%;
    height: 4rem;
    border: 2px solid var(--btnBackgroundColor);
    border-radius: 7px;
    background-color: transparent;
    font-size: calc(var(--fontSizes) - 50%);
    padding: 1rem;
    color: var(--mainColor);
}
.search-input:focus{
    border: none;
    outline: none;
}
.menu-btns button{
    background-color: rgb(60, 58, 58);
}
.menu-btns button:hover{
    background-color: var(--btnBackgroundColor);
}
.movie-box-container{
     display: flex;
    flex-direction: row;
    margin-top: 3rem;
    width: fit-content;
    flex-wrap: wrap;
}
.theboxes{
    color: var(--greyColor);
    font-size: calc(var(--fontSizes) - 40%);
    margin: 2rem 1.5rem;
    position: relative;
    transition: all .5s ease-in-out;
}
.box-img{
    width: 305px;
    height: 400px;
    border-radius: 1rem;
}
.remainder-btn{
    width: 250px;
    display: none;
}
.movie-title{
    font-size: calc(var(--fontSizes) - 10%);
    color: var(--mainColor);
    margin: .7rem 0rem;
}
.movie-category{
    display: inline;
}
.opening button{
    margin-top: 3rem;
}
            /* REMAINDER SECTIION*/

.remainder-container{
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 100;
}
.remainder-box{
    background-color: var(--mainColor);
    display: flex;
    height: 50%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5%;
    position: relative;
    box-shadow: .5rem .5rem 1rem .5rem rgb(0, 0, 0);
}
.remainder-bell{
    width: 150px;
    height: 150px;
    margin: 5rem 0rem;
}
.remainder-selects{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 2rem 2rem;
    margin-bottom: 2rem;
}
.remainder-box select{
    width: 200px;
    height: 50px;
    border: none;
    border-bottom: 1px solid rgb(244, 2, 2);
    margin: 0rem 2rem;
    font-size: var(--fontSizes);
}
.remainder-box select:focus{
    outline: none;
}
.main-remainder-btn{
    display: block;
    width: 300px;
    position: absolute;
    bottom: 10px;
    left: 25%;
    animation: none;
    margin-bottom: 1rem;
}
.remainder-box select option{
    font-size: calc(var(--fontSizes) - 1rem);
    color: #000000;
}
.remainder-box button{
    width: 500px;
    border-radius: 20px;
}
            /* REMAINDER SECTIION ENDS*/

.news-line{
    margin-top: 6vh;
    padding: var(--mainPadding);
    height: fit-content;
}
.news-line h4{
    color: var(--mainColor);
    text-transform: uppercase;
    font-size: var(--fontSizes);
    text-align: center;
}
.newsbox-container{
    margin-top: 7vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow: hidden;
}
.newsboxesCont{
    height: fit-content;
    margin: 0rem 1rem;
}
.news{
    color: var(--mainColor);
    font-size: calc(var(--fontSizes)- 30%);
    margin-top: 1.5rem;
}
.newsbox-img{
    width: 350px;
    height: 300px;
    margin-right: 0rem;
}
.newsline-right, .newsline-left{
    width: 50px;
    height: 50px;
    background-color: var(--mainColor);
}
.indicator{
    width: 20px;
    height: 20px;
    border: 1px solid var(--btnBackgroundColor);
    border-radius: 50%;
}
.newsline-direction{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-top: 15vh;
}
.newsline-indicator{
    display: flex;
    width: 7%;
    justify-content: space-between;
}
footer{
    height: 40vh;
    background-color: rgba(212, 69, 69, 0.368);
    position: relative;
}
.footer-top{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 5rem;
    height: 60%;
}
.footer-nav-links ul{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0rem 2rem;
}
.footer-nav-links ul li{
    list-style: none;
}
.footer-header-socials{
    margin: 0rem 4rem;
}
.e-mail{
    flex-wrap: wrap;
    text-align: center;
    width: 35%;
}
.footer-info{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    bottom: 1rem;
    right: 1rem;
    width: 60%;
    color: var(--mainColor);
    font-size: calc(var(--fontSizes) - 10%);
}
.rights{
    text-align: center;
    font-size: calc(var(--fontSizes) - 40%);
}
.indicator-section{
    position: fixed;
    bottom: 1rem;
    right: 1rem;
}
.indicator-container{
    background-color: var(--mainColor);
    width: 500px;
    height: 100px;
    margin: 1.5rem 1.5rem;
    border-radius: 10px;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 100;
}
.indicator-text{
    margin: 0rem 1rem;
    font-size: calc(var(--fontSizes) - .4rem);
}
.indicator-icon{
    width: 50px;
    height: 50px;
    margin: 0rem 1rem;
}
.indicator-container::after{
    content: "";
    height: 10px;
    width: 100%;
    background-color: #d51010;
    position: absolute;
    bottom: 0;
    left: 0;
    animation: underline 5s ease-in-out infinite;
}
@keyframes underline {
    100%{
        width: 0%;
    }
    
}
.cart{
    position: fixed;
    z-index: 50;
    bottom: 2rem;
    left: 2rem;
}
.cart-icon{
    width: 80px;
    height: 80px;
}
.booked-movies-count{
    font-size: calc(var(--fontSizes));
    color: var(--btnBackgroundColor);
    position: absolute;
    bottom: -.5rem;
    left: -.5rem;
    background-color: #fff;
    width: 50%;
    height: 50%;
    border-radius: 50%;
    text-align: center;
}
        /* JAVASCRIPT CLASSSES */
.display-remainder-btn{
    display: block;
    transition: all .5s ease-in-out;
}


        /* JAVASCRIPT CLASSES ENDS */



@media screen and (max-width:460px) {
    :root{
        --fontSizes: .7rem;
        --btnFontSizes: .5rem;
        --btnBackgroundColor: red;
        --mainColor: #fff;
        --fontOne: poppins;
        --mainPadding: .5rem 1rem;
        --darkBackground : black;
        --greyColor: grey;
    }
    header{
        background-image: url(./Images/popcorns.jpg);
        height: 80vh;
        width: 100%;
        background-size:cover;
        background-repeat: no-repeat;
        position: relative;
        padding: var(--mainPadding);
        overflow: hidden;

    }
    .btns{
        width: 80px;
        height: 35px;
        font-size: var(--btnFontSizes);
        text-transform: capitalize;
        border: none;
        border-radius: 8px;
    }

    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 7vh;
        font-family: var(--fontOne);
    }
    .logo-container h1{
        font-size: calc(var(--fontSizes));
        flex-wrap: wrap;
        font-weight: bolder;
        width: 70px;
    }
    .nav-links-container{
        display: flex;
        justify-content: center;
        background-color: rgb(0, 0, 0);
        position: absolute;
        height: 70vh;
        width: 100vw;
        top: 10vh;
        left: 0;
        transform: translateX(100%);
        transition: all .4s linear;
    }
    .nav-display{
        transform: translateX(0%);
    }
    .nav-links{
        display: flex;
        flex-direction: column;
        height: 80%;
        width: 100%;
        margin-top: 1rem;
    }
    .nav-links li{
        color: var(--mainColor);
        cursor: pointer;
        position: relative;
    }
    .nav-links li:hover{
        color: rgba(255, 0, 0, 0.53);
    }
    .profile-container{
        display: block;
        display: flex;
        flex-direction: column;
    }
    .socials{
        width: 25px;
        height: 25px;
    }
    .play-btn{
        width: 45px;
        height: 45px;
        box-shadow: 0rem 0rem 0rem .5rem #ffffff;
    }
    .burger{
        display: block; 
    }
    .header-details{
        height: 43vh;
        /* width: 100%; */
        margin-top: 30vh;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .right-content, .left-content{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 100%;
        width: 50%;
    }
    .header-book{
        display: flex;
        flex-direction: row;
        align-content: center;
        font-weight: bolder;
        width: 200px;
        flex-wrap: wrap;
    }
    .header-book p{
        color: var(--mainColor);;
        font-size: calc(var(--fontSizes) - 30%);
        margin: 0rem .8rem;
        width: 250px;
    }
    .header-book button{
        width: 100px;
    }
    .header-socials{
        width: 50px;
    }
    .header-socials img{
        margin: 0rem 0rem 0rem .4rem;
    }
    .left-content{
        align-items: center;
    }
    .watch{
        font-size: calc(var(--fontSizes) - 40%);
        margin-left: .5rem;
        margin-top: .8rem;
        color: var(--mainColor);
    }
    .number{
        font-size: calc(var(--fontSizes)+ 1rem);
        color: var(--mainColor);
        transition: .3s;
    }
    .number:hover{
        scale: 1.5;
        isolation: isolate;
        color: var(--btnBackgroundColor);
    }

.nav-links-container .nav-links li:hover::after{
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    bottom: -1rem;
    right: 50%;
    border-radius: 50%;
    background-color: #ff0000;
}
.nav-links-container .nav-links li:hover{
    color: red;
    opacity: .7;

}
    .scroll-numbers{
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 80%;
        margin-bottom: 1rem;
    }
    .blur-container{
        height: .2vh;
        width: 100%;
        position: absolute;
        bottom: 0vh;
        background-color: rgba(0, 0, 0, 0.245);
        box-shadow: 0rem 0rem 7rem 2rem #000000;
    }
    .movie-section{
        margin-top: 8vh;
        padding: var(--mainPadding);
    }
    .section-header h2{
        text-transform: uppercase;
        color: var(--mainColor);
        font-size: var(--fontSizes);
    }
    .section-header{
        display: flex;
        justify-content: space-between;
    }
    .lines{
        height: 2px;
        width: 100%;
        background: linear-gradient(to right, red , red , black);
        margin-top: .5rem;
    }
    .menu-btns{
      margin-top: 1vh;  
      width: 100%;
      flex-wrap: wrap;
      display: flex;
      justify-content: space-between;
    }
    .menu-btns button{
        width: 50px;
        margin-right: .2rem;
    }
    .search-input{
        width: 40%;
        height: .5rem;
        border: 2px solid --greyColor;
        border-radius: 5px;
        background-color: transparent;
        font-size: calc(var(--fontSizes) - 20%);
        padding: .5rem;
        color: var(--mainColor);
    }
    .movie-box-container{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin-top: 1rem;
        width: fit-content;
        flex-wrap: wrap;
    }
    .theboxes{
        color: var(--greyColor);
        font-size: calc(var(--fontSizes) - 40%);
        margin: .5rem .5rem;
    }
    .box-img::after{
        height: 100%;
    }
    .box-img{
        width: 100%;
        height: 150px;
        border-radius: 1rem;
    }
    .movie-title{
        font-size: calc(var(--fontSizes) - 10%);
        color: var(--mainColor);
        margin: .7rem 0rem;
    }
    .movie-category{
        display: inline;
    }
    .opening button{
        margin-top: 1.2rem;
        height: 25px;
    }
    .remainder-btn{
        height: 20px
    }
    .news-line{
        margin-top: vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: var(--mainPadding);
        width: 100%;
        overflow: hidden;
    }
    .news-line h4{
        color: var(--mainColor);
        text-transform: uppercase;
        font-size: var(--fontSizes)
    }
    .newsbox-container{
        margin-top: 7vh;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .newsboxesCont{
        width: 100%;
        height: fit-content;
        margin: 0rem 1rem;
        transform: translateX(-0%);

    }
    .news{
        color: var(--mainColor);
        font-size: .8rem;
        margin: 1rem 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        color: var(--mainColor);
        text-align: center;
        width: 90%
    }
    .newsbox-img{
        width: 270px;
        height: 250px;
        margin: 0rem 1.5rem;
    }
    .newsline-right, .newsline-left{
        width: 25px;
        height: 25px;
        background-color: var(--mainColor);
    }
    .indicator{
        width: 10px;
        height: 10px;
        border: 1px solid var(--btnBackgroundColor);
        border-radius: 50%;
    }
    .newsline-direction{
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        margin-top: 8vh;
    }
    .newsline-indicator{
        display: none;
        width: 15%;
        justify-content: space-between;

    }
    footer{
        height: 30vh;
        
    }
    .footer-top{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
        margin-top: 2rem;
        height: 58%;
        padding: var(--mainPadding);
    }
    .e-mail{
        flex-wrap: wrap;
        text-align: center;
        width: 35%;
        padding: var(--mainPadding);
    }
    footer .footer-top .header-socials{
        display: flex;
    }
    .footer-info{
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: space-between;
        bottom: 1rem;
        right: 1rem;
        width: 100%;
        color: var(--mainColor);
        font-size: calc(var(--fontSizes) - 10%);
        padding: var(--mainPadding);
    }
    .rights{
        text-align: center;
        font-size: calc(var(--fontSizes) - 40%);
    }
    .indicator-section{
    position: fixed;
    bottom: .5rem;
    right: .5rem;
}
.indicator-container{
    width: 90%;
    height: 40px;
    margin: .7rem .7rem;
    border-radius: 5px;
}
.indicator-text{
    margin: 0rem .5rem;
    font-size: calc(var(--fontSizes));
}
.indicator-icon{
    width: 20px;
    height: 20px;
    margin: 0rem .5rem;
}
.indicator-container::after{
    height: 5px;
}

.cart{
    z-index: 50;
    bottom: 1rem;
    left: 1rem;
}
.cart-icon{
    width: 40px;
    height: 40px;
}
.booked-movies-count{
    bottom: -.2rem;
    left: -.2rem;
    width: 40%;
    height: 40%;
}
.remainder-box{
    height: 70%;
    width: 100%;
    border-radius: 15px;
}
.remainder-bell{
    width: 100px;
    height: 100px;
    margin: 3rem 0rem;
}
.remainder-selects{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 2rem 2rem;
    margin-bottom: 2rem;
}
.remainder-box select{
    width: 120%;
    height: 40px;
    margin: 0rem .5rem;
}
.main-remainder-btn{
    display: block;
    width: 80%;
    position: absolute;
    bottom: 10px;
    left: 12%;
    margin-bottom: 1rem;
}
     /* LOGIN PAGE */
        .login-and-register{
            margin: 0rem;
            padding: var(--mainPadding);
        }
        .loginCont{
            height: 80vh;
            width: 100%;
            border-radius: 1rem;
        }
        .head h4{
            text-align: center;
            font-size: var(--fontSizes);
            margin-top: .3rem;
        }
        .login-and-register .head h2 p{
            margin-top: .7rem;
        }
        .login-and-register .head h2 p a{
            margin-left: .5rem;
        }
        .head button{
            width: 100%;
            margin: 1rem 0rem;
            border: none;
        }
        .head button img{
            width: 20px;
            height: 20px;
            margin-right: .7rem;
        }
        form{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            margin: 1rem 2rem
        }
        form input[type = text],input[type = email],input[type = password], input[type = number]{
            background: none;
            width: 100%;
            height: 2rem;
            margin: .5rem 0rem;
            padding: .5rem .5rem;
        }
        form input[type = text]:focus,input[type = email]:focus,input[type = password]:focus, input[type = number]:focus{
            outline: none;
            animation: inputborder .5s linear forwards;
        }
        @keyframes inputborder {
            0%{
                width: 0%;
                border-bottom: 1.5px solid var(--btnBackgroundColor);
            }
            100%{
                width: 100%;
                border-bottom: 2px solid var(--btnBackgroundColor);

            }
        }
        form h3{
            margin-top: 1.5rem;
            font-size: var(--fontSizes);
        }         
        .cancelBtn{
            top: .5rem;
            right: .5rem;
        }
        .form-submit-btn{
            margin-top: 1rem;
            width: 60%;
        }
        .login-and-register .bottom a{
            font-size: var(--fontSizes);
        }
        .head button{
            display: flex;
            text-align: center;
            justify-content: center;
            align-items: center;
            flex-direction: row;
        }

        /* LOGIN PAGE ENDS */

        /* REGISTER PAGES */
        .loginCont{
            width: 100%;
            height: fit-content;
            top: 1vh;
            padding: 2rem 0rem;
        }
        /* REGISTER PAGES ENDS */
    }

@media screen and (min-width: 650px) {


    :root{
        --fontSizes: 1rem;
        --btnFontSizes: .8rem;
        --mainPadding: .5rem 1.5rem;
    }
    header{
        background-image: url(./Images/popcorns.jpg);
        height: 90vh;
        width: 100%;
        padding: 0;
    }
    .btns{
        width: 90px;
        height: 32px;
        font-size: calc(var(--fontSizes) - .3rem);
        border-radius: 7px;
    }
    nav{
        font-family: var(--fontOne);
    }
    
    .logo-container h1{
        font-size: var(--fontSizes);
        width: 100px;
    }
    .nav-links{
        margin: 0rem 2rem;
        font-size: calc(var(--fontSizes) - .2rem);
    }
    .nav-links li{
        margin: 0rem .7rem;
    }
    .nav-links-container .nav-links li:hover::after{
        width: 10px;
        height: 10px;
        bottom: -1rem;
        right: 50%;
        border-radius: 50%;
 
    }

    .socials{
        width: 29px;
        height: 29px;
    }
    .play-btn{
        width: 40px;
        height: 40px;
        border-radius: 50%;
        box-shadow: 0rem 0rem 0rem .5rem #ffffff;
    }
    .play-btn:hover{
        box-shadow: 0rem 0rem 1rem .3rem #ffffff;
    }
    .header-details{
        height: 43vh;
        width: 100%;
        margin-top: 25vh;
        padding: 0rem .5rem;
    }
    .right-content, .left-content{
        height: 100%;
        width: 70%;
    }
    .header-book{
        display: flex;
        flex-direction: column;
        width: 200px;
    }
    .header-book p{
        color: var(--mainColor);;
        font-size: calc(var(--fontSizes) - 30%);
        margin: .7rem 1rem;
        width: 200px;
    }
    .header-book button{
        width: 150px;
    }
    .header-socials{
        width: 150px;
    }
    .header-socials img{
        margin: 0rem 0rem 0rem .5rem;
    }
    .left-content{
        align-items: center;
    }
    .watch{
        font-size: calc(var(--fontSizes) - .2rem);
        margin-left: 0rem;
        margin-top: 1rem;
    }
    .number{
        font-size: calc(var(--fontSizes) + 10%);
        transition: .3s;
        margin: 0rem 0rem;
    }
    .number:hover{
        scale: 1.5;
        isolation: isolate;
    }

    .scroll-numbers{
        width: 80%;
        margin: 0rem 0rem;
    }
    .blur-container{
        background-color: rgba(0, 0, 0, 1);
    }
    
            /* LOGIN PAGE */
            .loginCont{
                height: 95vh;
                border-radius: 5%;
                position: relative;
                width: 40%;
                top: 1vh;
                padding: 1rem 0rem;
            }
            .head h4{
                text-align: center;
                font-size: calc(var(--fontSizes) - .5rem);
                margin-top: 1rem;
            }
            .login-and-register .head h2 p{
                margin-top: .7rem;
            }
            .login-and-register .head h2 p a{
                margin-left: .5rem;
            }
            .head button{
                width: 200px;
                margin: 1.5rem 0rem;
                border: none;
                font-size: calc(var(--fontSizes) - .3rem);
            }
            .head button img{
                width: 20px;
                height: 20px;
                margin-right: .5rem;
            }
            form input[type = text],input[type = email],input[type = password], input[type = number]{
                width: 80%;
                height: 1.8rem;
                margin: .5rem 0rem;
                font-size: var(--fontSizes);
                padding-left: 1rem;    
            }
            form input[type = text]:focus,input[type = email]:focus,input[type = password]:focus, input[type = number]:focus{
                outline: none;
                animation: inputborder .5s linear forwards;
            }
            @keyframes inputborder {
                0%{
                    width: 0%;
                    border-bottom: 1.5px solid var(--btnBackgroundColor);
                }
                100%{
                    width: 80%;
                    border-bottom: 2px solid var(--btnBackgroundColor);
    
                }
            }
            form h3{
                margin-top: .5rem;
                font-size: calc(var(--fontSizes) - .3rem);
            }         
            .bottom a{
                font-size: calc(var(--fontSizes) - .3rem);
                display: block;
                margin: .8rem 0rem;
            }
       
            .cancelBtn{
                background-color: transparent;
                width: 20px;
                height: 20px;
                position: absolute;
                top: .3rem;
                right: .5rem;
            }
    
    
    
    
            /* LOGIN PAGE ENDS */
    
    
            /* REGISTER PAGES */
            .register-page .loginCont{
                height: 100vh;
            }
            .register-page form input[type = text],input[type = email],input[type = password], input[type = number]{
                width: 100%;
                height: 1.3rem;
                margin: .2rem 0rem;
                font-size: var(--fontSizes);
                padding-left: 1rem;    
            }
            .login-and-register .head h1{
                font-size: calc(var(--fontSizes) - .5rem);
            }
            .login-and-register .head h2{
                font-size: .7rem;
                margin-top: .5rem;
            }
            .login-and-register .head h2 p{
                margin-top: .7rem;
            }
            .register-page .head h2 p a{
                margin-left: .5rem;
                font-size: calc(var(--fontSizes) - .5rem);
            }
            .register-page h4{
                font-size: calc(var(--fontSizes) - .5rem);
                margin: -.9rem 0rem 0rem 0rem;
            }
            .register-page input[type= submit]{
                width: 200px;
                margin-top: .5rem;
            }
            .register-page{
                display: none;
            }

            /* REGISTER PAGES ENDS */
    
    
    .movie-section{
        margin-top: 20vh;
        padding: var(--mainPadding);
    }
    .section-header h2{
        font-size: var(--fontSizes);
    }
    .section-header{
        align-items: center;
    }
    .lines{
        height: 2px;
        background: linear-gradient(to right, red , rgba(255, 0, 0, 0.835) , black);
        margin-top: 1rem;
    }
    .menu-btns{
      margin-top: 3vh;  
    }
    .menu-btns button{
        width: 100px;
        margin-right: .8rem;
    }
    .search-input{
        height: 2rem;
        border: .5px solid var(--btnBackgroundColor);
        border-radius: 4px;
        font-size: calc(var(--fontSizes) - 50%);
    }
    .movie-box-container{
        margin-top: 2rem;
    }
    .theboxes{
        font-size: calc(var(--fontSizes) - 40%);
        margin: 1rem 1rem;
        height: fit-content;
    }
    .box-img{
        width: 170px;
        height: 180px;
    }
    .remainder-btn{
        width: 100px;
        display: none;
    }
    .movie-title{
        font-size: calc(var(--fontSizes) - 10%);
        margin: .7rem 0rem;
    }
    .opening button{
        margin-top: .5rem;
        height: 30px;
    }
                /* REMAINDER SECTIION*/
    
    .remainder-container{
        display: none;
        justify-content: center;
        align-items: center;
        z-index: 100;
    }
    .remainder-box{
        height: 80%;
        border-radius: 10px;
    }
    .remainder-bell{
        width: 70px;
        height: 70px;
        margin: 1rem 0rem;
    }
    .remainder-selects{
        gap: 1rem 0rem;
    }
    .remainder-box select{
        width: 150px;
        height: 30px;
        margin: 0rem 1rem;
        font-size: var(--fontSizes);
    }
    .main-remainder-btn{
        width: 200px;
        bottom: 5px;
    }
    .remainder-box select option{
        font-size: var(--fontSizes);
    }
                /* REMAINDER SECTIION ENDS*/
    
    .newsbox-container{
        margin-top: 7vh;
    }
    .newsboxesCont{
        height: fit-content;
        width: 400px;
        height:fit-content;
    }
    .news{
        font-size: calc(var(--fontSizes) - .2rem);
        margin-top: 1rem;
    }
    .newsbox-img{
        width: 280px;
        height: 250px;
        margin-right: 0rem;
    }
    .newsline-right, .newsline-left{
        width: 25px;
        height: 25px;
    }
    .indicator{
        width: 10px;
        height: 10px;
    }
    .newsline-direction{
        width: 100%;
        margin-top: 10vh;
    }
    .newsline-indicator{
        display: flex;
        width: 7%;
        justify-content: space-between;
    }
    .footer-info{
        font-size: calc(var(--fontSizes) - .3rem);
    }
    .rights{
        text-align: center;
        font-size: calc(var(--fontSizes) - 40%);
    }
    .indicator-section{
        position: fixed;
        bottom: 1rem;
        right: 1rem;
    }
    .indicator-container{
        background-color: var(--mainColor);
        width: 210px;
        height: 50px;
        margin: 1rem .7rem;
        border-radius: 6px;
    }
    .indicator-text{
        margin: 0rem .5rem;
        font-size: calc(var(--fontSizes) - .3rem);
    }
    .indicator-icon{
        width: 25px;
        height: 25px;
        margin: 0rem .7rem;
    }
    .indicator-container::after{
        height: 4px;
    }
    .cart{
        bottom: 1rem;
        left: 1rem;
    }
    .cart-icon{
        width: 40px;
        height: 40px;
    }
    .booked-movies-count{
        bottom: -.2rem;
        left: -.2rem;
    }
            /* JAVASCRIPT CLASSSES */
   
   
   
   
   
   
   
}